:root {
    --primary-color:#293457;
    --secondary-color: #91e2d7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    background-color: #e7ebf8;
    font-family: Arial, Helvetica, sans-serif
}

/* header - name has colored box around it */
header {
    padding: 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {    
    font-weight: bold;
    font-size: 42px;
    color: var(--primary-color);
    margin: 0;
    background-color: var(--secondary-color);
    padding: 5px 5px 5px 70px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px 15px;
}

header nav {
    margin: 7px 30px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 10px;
    border-bottom: 3px solid var(--secondary-color);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
/* hero style */
.hero {
    background-color: darkblue;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.hero-sub {
    margin: 200px 30px 10px 10px;
    padding: 5px;
    background-color: var(--secondary-color);
}
/* content style */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 20px;
}

.subtitle {
    display: flex;
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
img {
    width: 300px;
    height: 350px;
    border-radius: 50%;
}
.section-title {
    font-size: 38px;
    color: var(--primarycolor);
    padding: 5px;
}

.details {
    border-left: 3px solid var(--primary-color);
    width: 80%;
    padding: 10px 20px;
}

/* contact - in a row and underlined */ 
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.contact-info ul li a {
    margin: 10px;
    border-bottom: 3px solid var(--primary-color);
    text-decoration: none;
    color: var(--primary-color);
}


/* projects - :hover with opacity over images */


