:root {
    --primary-color:#293457;
    --secondary-color: #91e2d7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    background-color: #e7ebf8;
    font-family: Arial, Helvetica, sans-serif
}

/* header and nav - name has colored box around it */
header {
    padding: 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {    
    font-weight: bold;
    font-size: 42px;
    color: var(--primary-color);
    margin: 0;
    background-color: var(--secondary-color);
    padding: 5px 5px 5px 70px;
}


header nav {
    margin: 7px 30px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 10px;
    border-bottom: 3px solid var(--secondary-color);    
    text-decoration: none;
    color: var(--secondary-color);
    padding: 5px;
}
header nav ul li a:hover {
    border-radius: 15px;
}
/* end of nav and header */
/* hero style */
.hero {
    background-image: url(../images/coding.jpeg);
    background-size: cover;
    background-position: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-sub {
    margin: 200px 20px 10px 10px;
    padding: 6px;
    background-color: var(--secondary-color);
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.hero img {
    width: 200px;
    height: 250px;
    border: 3px solid var(--primary-color);
}

/* content style */
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.subtitle {
    display: flex;
    flex: 0 0 20%;
    justify-content: flex-end;
    text-align: right;
}

.section-title {
    font-size: 38px;
    color: var(--primarycolor);
    padding: 5px;
}

.details {
    border-left: 3px solid var(--primary-color);
    flex: 1;
    padding: 10px 20px;
    font-size: 18px;
}
/* end of content style */

/* project style */
.projects {
    border-left: 3px solid var(--primary-color);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex: 1; 
}
.project {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 40%;
}

.project a {
    margin: 10px;
    padding: 10px 0px;
    height: 100px;
    flex: 1 0 40%;
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    opacity: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    text-decoration: none;
}

.project a:hover {
    opacity: 100%;
}

.project-text {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding-right: 10px;
    margin: 0;
    width: fit-content;
}

.project p {
    font-size: 12px
}


.project-1 {
    flex: 1 0 90%;
}

.project-1 a {
    height: 400px;
    background-image: url(../images/Run-Buddy.png);
    background-size: 1500px;
}

.project-2 a {
    background-image: url(../images/Horiseon-2.png);
    background-size: 600px;
}

.project-3 a {
    
}

.project-4 a {
    
}

.project-5 a {

}
/* end of project style */

/* contact - in a row and underlined */ 
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.contact-info li {
    margin: 5px;
}
.contact-info ul li a {
    margin: 10px;
    padding: 5px;
    border-bottom: 3px solid var(--primary-color);
    text-decoration: none;
    color: var(--primary-color);
}

.contact-info ul li a:hover {
    border-radius: 15px;
}
/* end of contact style */

/* media queries */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS 980px AND SMALLER*/
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .hero-sub {
        text-align: center;
        width: fit-content;
    }

    .contact-info ul li {
        flex:  100%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
    }
    .section-title {
        font-size: 30px;
        border-bottom: 3px solid var(--primary-color);
    }
}

@media screen and (max-width: 565px) {
    header nav ul li a {
        font-size: 16px;
    }
    .section-title {
        font-size: 22px;
    }
}